#prophet .ship-list {
  padding: 6px 15px;
}
#prophet .ship-item {
  height: 30px;
  line-height: 30px;
  width: 100%;
}
#prophet .panel {
  margin: 0;
}
#prophet .panel-body {
  padding: 6px 15px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#prophet span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#prophet .prophet-info-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1;
  margin-right: 15px;
}
#prophet .ship-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}
#prophet .navigation-bar-airplane {
  align-items: center;
}
#prophet .damage {
  flex: 1;
  margin-right: 15px;
  text-align: right;
}
#prophet .attack-damage {
  flex: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#prophet .prophet-info-name {
  text-shadow: none;
}
#prophet .hp-progress{
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
#prophet .hp-progress .hpBar{
  padding-top: 3px;
}
#prophet .hp-progress .progress {
  position: relative;
  margin: 0px 15px 0 0;
  background-color: inherit;
  height: 6px;
  flex: auto;
}
#prophet .hp-progress .progress-bar span {
  position: absolute;
  width: 100%;
  display: block;
}
#prophet .hp-text {
  flex: none;
  text-align: right;
}
#prophet .navigation-bar-hp {
  flex: 1;
}

#prophet .friend-hp .progress-bar > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
  border-right: 1px solid red;
  z-index: 10;
}
