#prophet .table {
  margin: 6px 0px;
}
#prophet table td .shipName{
  /*font-size: 15px;*/
}
#prophet table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 6px;
  /*font-size: 13px;*/
}
#prophet table tr td {
  /*padding-bottom: 0px;*/
  border: none;
  vertical-align: middle;
}
#prophet .list-group {
  margin:0px;
}
#prophet .list-group .list-group-item{
  padding:0px;
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
}
#prophet .hp-progress .hpBar{
  padding-top: 3px;
}
#prophet .hp-progress .progress {
  position: relative;
  margin-bottom: 1px;
  background-color: inherit;
  height: 6px;
}
#prophet .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#prophet .hpText {
  font-size: 80%;
  line-height: 1;
  margin-bottom: -5px;
}
#prophet .row{
  margin: 0;
}
#prophet .alert {
  margin: 0px 6px;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
}
#prophet .alert > span{
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
#prophet .prophet-info-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#prophet .ship-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
#prophet .attack-damage {
  flex: none;
}
#prophet .prophet-info-name {
  text-shadow: none;
}
#prophet .navigation-bar-airplane {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigation-bar-airplane > span {
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.navigation-bar-airplane > span span{
  display: inline-block;
}
#prophet span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#prophet .fa {
  line-height: inherit;
}
